body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}
#calculator {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}
h1 {
    color: #333;
    text-align: center;
}
label {
    font-size: medium;
    color: #666;
}
input[type="number"] {
    font-size: medium;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h3 {
    margin-top: 20px;
    color: #333;
}
p {
    font-size: large;
    color: #007BFF;
}