textarea{
    resize: none;
}
.form-container {
    display: none;
    position: fixed;
    right: 20px;
    border-radius: 5px;
    border: none;
    padding: 20px;
    background-color: var(--color-fg);
    width: auto; /* Set width to auto */
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=url], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }

.open-form-btn {
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
}

[data-theme="light"] {
    --color-bg: #fff;
    --color-fg: #333;
    --color-link: #00f;

}

[data-theme="dark"] {
    --color-bg: #333;
    --color-fg: #ffffff;
    --color-link: #0df;

}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

header {
    background-color: #666;
    padding: 1rem;
    text-align: right;
}

.theme {
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
}

nav {
    text-align: cen;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    padding: 6px;
    color: var(--header-fg);
}

#searchInput {
    text-align: center;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    border: none;
    width: 50%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: auto;
    display: flex;
    align-items: center;
}



#searchInput:focus {
    background-color: #28a745;
}
